<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$webtitle}</title>
<meta name="keywords" content="{$ckeywords}{$keywords}">
<meta name="description" content="{$cdescription}{$description}">
<include file="system" />
<link rel="stylesheet" type="text/css" href="{$tplpath}pub.css"/>
<link rel="stylesheet" type="text/css" href="{$tplpath}yiku.css"/>
</head>
<body>
<include file="header" />

<div class="wapper">
<div class="rb2" style="height:565px; background-color:#000;">
    	<h1><span>电视直播</span></h1>
<div id="feng-yun-mini-wrap">
<a id="loading-info" href="http://www.fengyunzhibo.com" target="_blank">正在加载【风云TV】播放器，请稍候...</a>                    
</div>

<script type="text/javascript">window.fengyunminicongf={tuiguangid:"ekucms",width:960,height:530}</script>
<script type="text/javascript" src="http://static.ws.kukuplay.com/support/mini/fyminiloader-min.js"></script>

    </div>
<include file="footer" />
</div>
</body>
</html>