<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专题</title>
<link rel="stylesheet" type="text/css" href="css/pub.css"/>
<link rel="stylesheet" type="text/css" href="css/yiku.css"/>
</head>

<body>
<!--头部 开始-->
<div class="top">
	<a href="#" class="logo"></a>
    <!--搜索 开始-->
	<div class="ss">
    	<div class="ss1">
        	<p>
                <img src="images/tb1.jpg" />
                <input name="" type="text" />
            </p>
            <a href="#"></a>
        </div>
        <div class="ss2">
        	<a href="#">笑傲江湖</a><a href="#">爱情睡醒了</a><a href="#">血滴子</a><a href="#">贤妻</a><a href="#">一九四二</a><a href="#">华丽一族</a>
        </div>
    </div>
    <!--搜索 结束-->
    <a href="#" class="ph"></a>
    <div class="top1">
    	<a href="#">登录</a>|<a href="#">注册</a><a href="#" class="top1-1">观看记录</a>
    </div>
</div>
<!--头部 结束-->
<!--导航 开始-->
<div class="nav">
	<div class="nav1">
		<div class="nav1-1">
            <a href="#" class="on">首页</a><span></span>
            <a href="#">电影</a><span></span>
            <a href="#">电视剧</a><span></span>
            <a href="#">动漫</a><span></span>
            <a href="#">综艺</a><span></span>
            <a href="#">体育</a><span></span>
            <a href="#">纪录片</a><span></span>
            <a href="#">专题</a><span></span>
		</div>
        <p class="nav1-2">
        	<a href="#">影视网址</a><a href="#">男性影院</a><a href="#">微电影</a><a href="#">1080P电影<span></span></a>
        </p>
	</div>
</div>
<!--导航 结束-->
<!--wapper 开始-->
<div class="wapper">
	<!--列表 开始-->
    <div class="list">
   		<!--左边 开始-->
        <div class="left1">
            <!--最热专题 开始-->
            <div class="right1 left1-2">
            <div class="bg">
            	<h1><span>最热专题</span></h1>
                <!--热榜 开始-->
                <ul class="new">
                    <li><a href="#">历年经典贺岁电影回顾</a><span>03-02</span></li>
                    <li><a href="#">星爷那些经典喜剧</a><span>03-02</span></li>
                    <li><a href="#">电影中妩媚风骚的小三们</a><span>03-02</span></li>
                    <li><a href="#">范冰冰女王路</a><span>03-02</span></li>
                    <li><a href="#">各界影帝大比拼</a><span>03-02</span></li>
                    <li><a href="#">各种大的影视集合</a><span>03-02</span></li>
                    <li><a href="#">各种大的影视集合</a><span>03-02</span></li>
                </ul>
                <!--热榜 结束-->
            </div>
            </div>
            <!--最热专题 结束-->
            <!--广告 开始-->
            <div class="banner1"><img src="Uploads/a5.jpg" width="250" height="250" /></div>
            <!--广告 结束-->
        </div>
        <!--左边 结束-->
        <!--右边 开始-->
        <div class="right2">
            <div class="right2-3">
            	<h1>就爱周星驰</h1>
                <div class="right2-3-1">
                    <span>影片数：</span><span style="color:#333;">10</span>
                    <div class="clear"></div>
                </div>
                <div class="right2-3-1">
                    <span>更新时间：</span><span style="color:#333;">2013-02-13</span>
                    <div class="clear"></div>
                </div>
                <div class="right2-3-1"><span>简介：</span><p>每个人的心中都有一个周星驰，无论他是人见人爱花见花开的唐伯虎，或是那个跑龙套的小演员。在周星驰的光影世界里，总有一些场景让你念念不忘，总有一些人让你魂牵梦萦，总有一些对白让你铭记于心。</p><div class="clear"></div></div>
                <div class="right2-3-1" style="margin-top:8px;">
                    <span style="line-height:26px;">分享到：</span>
                    <div class="fx"><img src="Uploads/a6.jpg" /></div>
                    <span class="tishi">分享影片后，播放时会加速哦！</span>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line"></div>
            <!--最近更新 开始-->
            <div class="show">
                <ul class="rb2-1 list1-1">
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>

                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                    <li>
                        <a href="#" class="img"><img src="Uploads/a4.jpg" /></a>
                        <p class="list1-2"><a href="#">爱情睡醒了</a><span>8.6</span></p>
                        <p><a href="#">刘诗诗</a><a href="#">胡夏</a><a href="#">大左</a></p>
                        <p>剧情 / 历史 / 战争</p>
                    </li>
                </ul>
                <div class="clear">&nbsp;</div>
            </div>
            <!--最近更新 结束-->
            <div class="clear" style="height:20px;">&nbsp;</div>
        </div>
        <!--右边 结束-->
    </div>
    <!--列表 结束-->

	<!--友情链接 开始-->
    <div class="yq">
   	<div class="bg1">
    	<h1>友情链接</h1>
        <div class="yq1">
        	<a href="#">优酷网</a><a href="#">奇异高清</a><a href="#">百度视频</a><a href="#">迅雷看看</a><a href="#">搜狐视频</a><a href="#">土豆网</a><a href="#">优酷网</a><a href="#">奇异高清</a><a href="#">百度视频</a><a href="#">迅雷看看</a><a href="#">搜狐视频</a><a href="#">土豆网</a>
            <div class="clear"></div>
        </div>
    </div>
    </div>
    <!--友情链接 结束-->
    <!--版权 开始-->
    <div class="bq">
   		本站提供的最新电视剧和电影资源均系收集于各大视频网站，本网站只提供web页面服务，并不提供影片资源存储，也不参与录制、上传。<br />Copyright © 2006-2013 Shenzhen QVOD Technology Co.,Ltd. All Rights Reserved.网站备案/许可证号：渝ICP备08114289号
    </div>
    <!--版权 结束-->
</div>
<!--wapper 结束-->
</body>
</html>
