   {:get_cms_ads('duilian_quanzhan')}
   {:get_cms_ads('fumeiti_quanzhan')}
    <!--版权 开始-->
    <div class="bq">
   		{$copyright}
        <p style="height:8px;"></p>

        Copyright © 2007 - 2013 <a href="{$weburl}">{$webname}</a> Some Rights Reserved {$icp} 

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F486818640b3b4282e3d4131a8423f5b6' type='text/javascript'%3E%3C/script%3E"));
</script>


<a href="{$baidusitemap}">sitemap</a> <a href="{$googlesitemap}">sitemap</a><br />


        <span style="display:none;"><script language="javascript" type="text/javascript" src="http://js.users.51.la/15665491.js"></script></span>
    </div>
    <!--版权 结束-->
