<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$webtitle}</title>
<meta name="keywords" content="影视专题：{$title|get_replace_html=0,30}">
<meta name="description" content="{$content|get_replace_html=0,120}">

<link rel="stylesheet" type="text/css" href="{$tplpath}pub.css"/>
<link rel="stylesheet" type="text/css" href="{$tplpath}yiku.css"/>
</head>


<body>
<include file="header" />


<!--wapper 开始-->
<div class="wapper">
	<!--列表 开始-->
    <div class="list">
   		<!--左边 开始-->
        <div class="left1">
            <!--最热专题 开始-->
            <div class="right1 left1-2">
            <div class="bg">
            	<h1><span>最新专题</span></h1>
                <!--热榜 开始-->
                <ul class="new">
                 <gxlist name="special" limit="10" order="addtime">
                    <li><a href="{$special.readurl}">{$special.title}</a><span>{$special.addtime|date='Y-m-d',###}</span></li>
                </gxlist>    
                </ul>
                <!--热榜 结束-->
            </div>
            </div>
            <!--最热专题 结束-->
            <!--广告 开始-->
            <div class="banner1"><img src="Uploads/a5.jpg" width="250" height="250" /></div>
            <!--广告 结束-->
        </div>
        <!--左边 结束-->
        <!--右边 开始-->
        <div class="right2">
            <div class="right2-3">
            	<h1>{$title|get_replace_html=0,30}</h1>
                <div class="right2-3-1">
                    <span>影片数：</span><span style="color:#333;">{$countm}部</span>
                    <div class="clear"></div>
                </div>
                <div class="right2-3-1">
                    <span>更新时间：</span><span style="color:#333;">{$addtimed}</span>
                    <div class="clear"></div>
                </div>
                <div class="right2-3-1"><span>简介：</span>
                {$content}
                
                <div class="clear"></div></div>
                <div class="right2-3-1" style="margin-top:8px;">
                    <span style="line-height:26px;">分享到：</span>
                    <div class="fx"><img src="Uploads/a6.jpg" /></div>
                    <span class="tishi">分享影片后，播放时会加速哦！</span>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line"></div>
            <!--最近更新 开始-->
            <div class="show">
                <ul class="rb2-1 list1-1">
                <gxcms name="video" ids="'.$mids.'" limit="25">
                    <li>
                        <a href="{$video.readurl}" target="_blank" class="img"><img src="{$video.picurl}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" alt="{$video.title}" /></a>
                        <p class="list1-2"><a href="{$video.readurl}" target="_blank">{$video.title|get_replace_html=0,7}</a><span>8.6</span></p>
                    </li>
                </gxcms>
                </ul>
                <div class="clear">&nbsp;</div>
            </div>
            <!--最近更新 结束-->
            <div class="clear" style="height:20px;">&nbsp;</div>
        </div>
        <!--右边 结束-->
    </div>
    <!--列表 结束-->
	<include file="footer" />    
</div>
<!--wapper 结束-->
</body>
</html>
